@model tourneybracket.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamA.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamB.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamAScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamAScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamBScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamBScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bracket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bracket.BracketName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MatchID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
